*.stash
.vs/QRibbonWidget/v16/.suo
.vs/QRibbonWidget/v16/Browse.VC.db
.vs/QRibbonWidget/v16/Browse.VC.opendb
.vs/QRibbonWidget/v16/ipch/AutoPCH/20b70779da1c9a7/RIBBONBUTTONGROUP.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/2a9b61d6aa047dd7/RIBBONBUTTONGROUP.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/2ac59937a7db35c8/RIBBONTABCONTENT.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/3402f79550485938/RIBBONTABCONTENT.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/46fe9a5503914110/MAINWINDOW.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/5a7610eefcfa9ce/RIBBON.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/af051ca6141b9060/MAINWINDOW.ipch
.vs/QRibbonWidget/v16/ipch/AutoPCH/b609ed13b7e7bd7c/MAIN.ipch
.vs/QRibbonWidget/v16/Solution.VC.db
debug/moc_mainwindow.cpp
debug/moc_predefs.h
debug/moc_predefs.h.cbt
debug/moc_ribbon.cpp
debug/moc_ribbonbuttongroup.cpp
debug/moc_ribbontabcontent.cpp
debug/qrc_resource.cpp
debug/Qt-Ribbon.exe
debug/Qt-Ribbon.ilk
debug/Qt-Ribbon.pdb
Qt-Ribbon.vcxproj
Qt-Ribbon.vcxproj.filters
Qt-Ribbon.vcxproj.user
release/moc_mainwindow.cpp
release/moc_predefs.h.cbt
release/moc_ribbon.cpp
release/moc_ribbonbuttongroup.cpp
release/moc_ribbontabcontent.cpp
release/qrc_resource.cpp
/x64
/QRibbonWidget.sln
/ui_mainwindow.h
/ui_ribbonbuttongroup.h
/ui_ribbontabcontent.h
/.vs/QRibbonWidget/v16/ipch/AutoPCH
/.vs
/RibbonTest
